# Auth / Security
AUTH_SECRET="NcK5uT6qdKIeWFFgzp7CYtVaio6E0QW5b1N8ql9pW4c="
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_TRUST_HOST="true"

# Database
# Ganti dengan database lokal (contoh: mysql://root:password@localhost:3306/babycare) atau gunakan remote db untuk test
DATABASE_URL="mysql://u750773570_babycare:Baby231288@srv581.hstgr.io:3306/u750773570_babycare"

# Environment
NODE_ENV="development"

# Server Port (Opsional untuk lokal, default: 3000)
PORT=3000
HOSTNAME="localhost"
